# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.htaccess
application/controllers/cjyundouyu.php
uploads/cjyuncalendar/esnews.jpg
application/controllers/cjyuncalendar.php
application/controllers/cjyunmap.php
application/views/cjyunmap.php
application/views/cjyundouyu.php
application/views/yaotvs.php
application/views/cjyuncalendar.php
application/views/cjyuncalendar_estv_pc.php
application/views/cjyuncalendar_estv_hls.php
application/views/cjyuncalendar_estv.php
pay/redpack2.php
application/views/wechatshake_pc.php
application/views/wechatshake_wap.php
uploads/cjyuncalendar/bg_corner_blue.png
uploads/cjyuncalendar/bg_corner_gray.png
uploads/cjyuncalendar/button_clock_blue.png
uploads/cjyuncalendar/button_clock_gray.png
uploads/cjyuncalendar/button_rili.png
uploads/cjyuncalendar/button_share_blue.png
uploads/cjyuncalendar/eszh.jpg
uploads/cjyuncalendar/eszs.jpg
uploads/cjyuncalendar/hbfm1026.jpg
uploads/cjyuncalendar/hbfm1038.jpg
uploads/cjyuncalendar/hbfm1058.jpg
uploads/cjyuncalendar/hbfm1078.jpg
uploads/cjyuncalendar/hbfm1179.jpg
uploads/cjyuncalendar/hbfm774.jpg
uploads/cjyuncalendar/hbfm912.jpg
uploads/cjyuncalendar/hbfm927.jpg
uploads/cjyuncalendar/hbfm966.jpg
uploads/cjyuncalendar/hbnews.jpg
uploads/cjyuncalendar/ltnews.jpg
uploads/cjyuncalendar/mask_left.png
uploads/cjyuncalendar/mask_right.png
uploads/cjyuncalendar/xdzs.jpg
uploads/cjyuncalendar/hbfm998.jpg
pay/redpack.php
pay/order.php
pay/notify.php
html/touch.html
